body{
    background:linear-gradient(#b2a7a7, #979292,#b2a7a7,#fff);
}
.navbar{
    position: relative;
}
  /* Account Container */
.account-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cart-counter{
    display: none;
  }
  .account-container h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
  }
  
  .profile-section, .update-section {
    margin-bottom: 30px;
  }
  
  .profile-info p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .update-section h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    margin-left: 5%;
    width: 85%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .btn-update {
    background-color: #124125;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left:25%;
    text-align: center;
  }
  
  .btn-update:hover {
    background-color: #da4d4d;
  }