.footer {
    margin-top: 100px;
    background-color: #2c3e50; 
    color: #ffffff;         
    padding: 40px 20px;
    font-size: 14px;
    line-height: 1.6;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1 1 250px;
    margin: 15px;
}

.footer-section h3 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
}

.footer-section p,
.footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 16px;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-section .social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

.footer-section .social-icons a:hover {
    color: burlywood;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #dfdfdf;
}

.footer-bottom p {
    margin: 0;
    font-size: 13px;
    color: #aaa;
}




