.section-search-bar {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.section-search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

.section-search-bar button {
  padding: 8px 12px;
  background-color: #cb6be6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0px;
}

.section-search-bar button:hover {
  background-color: #ff77f8;
}

#product-management .section-search-bar, #order-management .section-search-bar{
  padding-left: 10px;

}

/* Hide all sections by default */
.content-section {
  display: none;
}

#user-management {
  display: block;
}
.content-section.active {
  display: block;
}

.btn-login {
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  color: #fff;
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  box-shadow: 0 4px 15px rgba(255, 75, 43, 0.4);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  margin-left: 40px;
}
.btn-login:hover{
  border: 1px solid #fff;
 
}