body{
    padding: 0 !important;
    margin: 0 !important;
    font-family: sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 150px;
    color: #333;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    background-color: #6a8e7c;
    z-index: 50;
  }
  
  .navbar .logo {
    width: 11%;
  }  
  .logo img {
    width: 100%;
  }
  .cart-counter {
    background-color: #122a2c; 
    color: white;
    border-radius: 50%; 
    padding: 2px 6px; 
    font-size: 12px;
    margin-left: 5px; 
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 80px;
    align-items: center;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #abe3c4;
  }

  .auth-buttons {
    display: flex;
    gap: 20px;
  }
  
  .btn-login {
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    text-decoration: none;
    background-color: #122a2c;
    /* border: 2px solid #fd5d5c; */
    color: white;
    text-shadow: 1px 1px 1px #333;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(253, 93, 92, 0.2);
    display: inline-block;
  }
  
  /* .btn-login::before {
    content: '';
    position: absolute;
    width: 120%;
    height: 100%;
    background: linear-gradient(135deg, #fd5d5c, #ff7e5f);
    top: 0;
    left: -100%;
    z-index: 0;
    transition: all 0.4s ease;
    transform: skewX(-10deg);
  } */
  
  .btn-login:hover {
    /* transform: translateY(-3px); */
    background-color: #577564;
    /* box-shadow: -2px 4px 4px rgba(253, 93, 92, 0.4); */
  }
  
  /* .btn-login:hover::before {
    left: 0;
  } */
  
  .btn-login span {
    position: relative;
    z-index: 1;
    color: black;
    display: inline-flex;
    align-items: center;
    gap: 8px; 
  }
  
  .btn-login i {
    color: inherit;
    font-size: 18px;
  }
  
  

  .search-form {
    display: flex;
    align-items: center;
}

#search-input {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 402px;
}

#search-input:focus {
    border-color: #007bff; 
}

#search-button {
  background-color: #122a2c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

#search-button:hover {
    background-color: #577564;
}
