
.material-symbols-rounded {
	font-variation-settings: "FILL" 0, "wght" 250, "GRAD" 0, "opsz" 48;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
	width: 100%;
}

.header__title {
	margin-bottom: 3rem;
	font-size: clamp(1rem, 6vw, 2rem);
}

.most-popular-products {
	background-color: whitesmoke;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	width: 100%;
}

.product-card {
	display: flex;
	flex-direction: column;
	position: relative;
	min-width: 250px;
	width: 100%;
	max-width: 300px;
	overflow: hidden;
	border: 0.5px solid #e5e5e5;
	border-radius: 16px;
}

.product-card__container {
	height: 320px;
	width: 100%;
	position: relative;
	background-color: #fff8f886;
	overflow: hidden;
}

.product-card__img {
	overflow: hidden;
}

.product-card__img img {
	position: absolute;
	width: 100%;
	transition: transform 1s ease;
}

.product-card__container:hover img {
	opacity: .5;
}

.product-card__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 1rem;
	right: -1rem;
	width: 40px;
	height: 40px;
	background-color: #ffffff;
	border-radius: 50%;
	color: #5b5b5b;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
	transition: all 0.3s ease, top 0.3s ease 0.2s;
}


.product-card__description {
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
	row-gap: 0.2rem;
	font-size: 1.1rem;
	text-align: center;
}
.product-card__text{
	font-size: 29px;
    font-weight: bold;
}
.product-card__price{
	color: #6a8e7c;
	font-size: larger;
}
.product-card__category{
	font-size: 15px;
    color: gray;
    margin-top: 10px;
}

.product-card__color {
	display: none;
}

.product-card__btn-radio {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	border: none;
	outline: none;
	cursor: pointer;
	overflow: hidden;
}

.product-card__btn-radio span {
	position: absolute;
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	border-radius: 50%;
	transition: all 0.3s ease;
}

.product-card__btn-radio.selected {
	border: 1.5px solid #353535;
}

.product-card__btn-radio.selected span {
	width: 15px;
	height: 15px;
}

[data-tooltip]::before {
	content: attr(data-tooltip);
	position: absolute;
	background-color: #122a2c;
	padding: 5px 10px;
	right: calc(100% + 5px);
	border-radius: 5px;
	white-space: nowrap;
	font-size: 1rem;
	color: #ffffff;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
}

